button {
    width: 250px;
    height: 80px;
    font-size: 25px;
    font-family: Roboto, sans serif;
    font-weight: bold;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00471b;
}

.boton-clic {
    background-color: #002ead;
}

.boton-reiniciar {
    background-color: #5a5a5a;
}