.contador {
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #ffffff;
    margin-bottom: 15px;

}